.include /usr/lib/systemd/system/netctl@.service

[Unit]
Description=Network - wlan0
BindsTo=sys-subsystem-net-devices-wlan0.device
After=sys-subsystem-net-devices-wlan0.device
